@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

$color1: #c8dae6;
$color2: white;
$color3: #b8b8b8;
$color4: #ffcd41;
$color5: #2092a9;

body {
  background-color: lighten($color1, 10%);
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

.weather-card {
  margin: 20px auto;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 270px;
  background-color: $color2;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
  img {
    margin-top: 20px;
  }
  h1 {
    margin-top: 50px;
    margin-left: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 75px;
    color: $color3;
    opacity: 0;
    transform: translateX(150px);
    animation: title-appear 500ms ease-out 500ms forwards;
  }

  p {
    margin-left: 20px;
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: lighten($color3, 0%);
    animation: title-appear 1s ease-out 500ms forwards;
  }
}

.weather-icon {
  position: relative;
  width: 50px;
  height: 50px;
  top: 0;
  float: right;
  margin: 40px 40px 0 0;
  animation: weather-icon-move 5s ease-in-out infinite;
}


@keyframes light {
  from {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
  }
  to {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
  }
}


@keyframes weather-icon-move {
  50% {
    transform: translateY(-8px);
  }
}

.inspiration {
  margin-top: 80px;
  color: darken($color1, 25%);
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;

  a {
    color: #ff8f8f;
    font-weight: 400;
    animation: all 300ms ease-in-out;
  }
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
