.brand-icon{
    width: 35px;
    margin-right: 10px;
    margin-left: 5px;
}
.brand-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 5px;
    float: right;
}

.divMargin {
    margin-top: 80px;
}
.guestSty {
    margin: 20px;
    width: fit-content;
}
.hiText {
    color: white;
}
.modal-90w {
    max-width: fit-content !important;
}


body {
    padding: 2em;
}




.card{
    max-width: 345px;
    max-height: 678px;
    text-align: center;
    margin-bottom: 15px;
}
@media only screen and (min-width: 1080px) {
    .navOve{
        height: 68px;
    }
}
/*.navOve{
    height: 68px;
}*/
.caret {
    display: none;
}
.dropdown-toggle:after { content: none }

.navbarButton {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #558b2f;
    font-size: 14pt;
}

.navbarButtonMisc {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #263238;
    background-color: white;
    border-color: white;
    font-size: 14pt;
}

.btn {
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 6px;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #0277bd;
    color: #ecf0f1;

    transition: background-color .3s;
}

.btn:hover, .btn:focus {
    background-color: #27ae60;
}

.btn > * {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 0;
    padding-top: 0;

    border-radius: 100%;

    background-color: rgba(236, 240, 241, .3);

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;

    transition: width .2s ease-out, padding-top .2s ease-out;
}

/* Styles, not important */
*, *:before, *:after {
    box-sizing: border-box;
}

.btn-nav-active{
    background-color: #27ae60;

}
